
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}
.background-container{
    background: url('backimg.jpg') no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
   
}
.login-form{
    color: #fff;
    
    
    width: 350px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    
}
.login-form h1{
   font-size: 35px;
   text-align: center;
   text-transform: uppercase;
   margin: 35px 0;
}
.login-form p{
    font-size: 20px;
    margin: 8px;
    
}
.login-form input{
    font-size: 16px;
    width: 100%;
    padding: 10px 8px ;
    border: 0;
    outline: none;
    border-radius: 5px;
}
.subdiv{
    text-align: center;
    margin-top: 18px;
    
}
.subdivbtn
{
    border-radius: 30px;
}